/* ----------------------Large Laptop */
@media only screen and (min-width: 1024px) {
    header img {
        height: 300px;
        width: 300px;
        margin: 15px auto 10px;
        display: block;
    }
    header h1 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 65px;
        color: darkred;
        text-shadow: 3px 2px 5px black;
    }
    div p {
        font-size: 30px;
    }
    div h4 {
        font-size: 25px;
    }
    ul li {
        font-size: 20px;
    }
    #monstersForm h3 {
        font-size: 30px;
    }
    #monstersForm label {
        font-size: 20px;
        padding-bottom: 10px;
    }
    main #coins {
        margin-top: 15px;
        height: 50px;
    }
    footer {
        text-align: center;
    }
    footer div {
        font-size: 25px;
        padding: 3px;
    }
    #superstar {
        height: 100px;
        float: left;
        margin: 20px;
    }
    #yoshi {
        height: 100px;
        float: right;
        margin: 20px;
    }
}
