header img {
    margin: 15px auto 10px;
    display: block;
}
header h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: darkred;
    text-shadow: 3px 2px 5px black;
}
#coins {
    margin-left: 5px;
    margin-right: 10px;
}

footer {
    text-align: center;
}
footer div {
    padding: 3px;
}
#superstar {
    height: 50px;
    float: left;
    margin: 20px;
}
#yoshi {
    height: 50px;
    float: right;
    margin: 20px;
}
p{
    width: 350px;
    text-align: center;
}
body{
    background-color: rgb(53, 158, 255);
}
@media only screen and (min-width: 600px){

p{
    margin-left: 20px;
    width: 700px;
    font-size: 20px;
}
ul, h3, h4{
    margin-left: 20px;
}
 #monstersForm{
    margin-left: 30px;
}
footer{
    font-size: 20px;
}
}